body {
  padding-top: 50px;
  padding-bottom: 20px;
}
p {
    width: 125px;
    word-wrap: break-word;
}
.gameviewtabledimension{
    height: 200px;
}
.border{
    border:1px solid;
    border-radius:25px;
    padding: 10px;
    border-color: #C0C0C0;
}
.centrecontent{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.roundcorners{
    border: 0px none;
    border-radius:5px;
}

.paddingtop{
    padding-top: 20px;
}

.paddingsides{
    padding-left: 30px;
    padding-right: 30px;
}
.tableborder{

    border-collapse:separate;
    border-spacing: 10px;
}

.backgroundcolour{
    background-color: #808080;
}