body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.border{
    border:2px solid;
    border-radius:25px;
    padding: 10px;
    border-color: #C0C0C0;
}

.roundcorners{
    border: 0px none;
    border-radius:5px;
}

.paddingtop{
    padding-top: 20px;
}

.paddingsides{
    padding-left: 20px;
    padding-right: 20px;
}
.tableborder{

    border-collapse:separate;
    border-spacing: 10px;
}