body {
}

p {
    width: 125px;
    word-wrap: break-word;
}

.border{
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom: 1px solid;
    border-color: #C0C0C0;
}

.borderProfile{
    border-top:1px solid;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom: none;
    border-color: #C0C0C0;
}

.centrecontent{
     margin: 0 auto;
 }

.centretext{
    text-align:center;
}

.roundcorners{
    border: 0 none;
    border-radius:5px;

}
.boxShadow{
    box-shadow: 0 0 8px 2px rgba(0,0,0,.75);
}
.paddingtop{
    padding-top: 20px;
}

.progressPadding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.paddingbottom{
    padding-bottom: 10px;
}

.paddingsides{
     padding-left: 30px;
     padding-right: 30px;
 }

.tableborder{
    border-collapse:separate;
    border-spacing: 10px;
}

.centreProgress{
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}

.footerProfileView{
    border-top:none;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom: 1px solid;
    border-color: #C0C0C0;
    border-radius: 0 0 5px 5px;
    height: 3em;
    width: 100%;
}

.loadingBarContainer{
    width: 100%;
    height: 25.19em;
    border-top:none;
    border-left:1px solid;
    border-right:1px solid;
    border-bottom: 1px solid;
    border-color: #C0C0C0;
    border-radius: 0 0 5px 5px;
}

.container1 {
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.gameDivHeight{
    height:13em;
}

.profileDivHeight{
    height: 9em;
}