<div class="container">
    <h2 ng-click="">Enter a gamertag to view a profile</h2>
    <i class="icon-search"></i>

    <form name="gamerTagForm" class="form-horizontal form-inline" ng-submit="addProfile(gamertag)" role="form">

        <input type="text" placeholder="Enter a Gamertag" ng-model="gamertag" required class="form-control">

    </form>

    <tabset justified="true">
        <tab ng-repeat="tab in getTabs()" active="tab.active" disabled="tab.disabled"  class="paddingtop">
            <tab-heading>
                <i ng-class="{'glyphicon glyphicon-transfer': tab.pulling}"></i>
                {{tab.gamertag}}
                <a ng-click="removeTab($index)" href=''>
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            </tab-heading>

            <div>
                <!-- This is the controller for player: {{dummyData.Player.Gamertag | json}} -->
                <profile-view profile="tab.profile" ng-hide="tab.pulling"></profile-view>
            </div>

            <!--Loading bar start-->
            <div class="loadingBarContainer" ng-hide="collapse = !tab.pulling">
                <div class="progressPadding" >
                        <div class="centreProgress" ng-show="tab.pulling" >
                            <progressbar class="progress progress-striped active" role="progressbar" max="150" value="150" type="info"><i>Loading the
                                profile of {{tab.gamertag}}</i>
                            </progressbar>
                        </div>
                </div>
            </div>
            <!--Loading bar end-->
            
        </tab>
    </tabset>

</div>