<div class="container">
    <div class=" navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class=" col-md-4 verticalAllign">
                <a class="navbar-brand"href="#">Angular X-Box Example</a>
            </div>

            <div class="col-md-4 col-md-offset-4 navbar-brand" name="gamerTagForm" ng-submit="addProfile(gamertag)" role="form">
                <input type="text" placeholder="Search a Gamertag..." ng-model="gamertag" required class="form-control" >
            </div>
        </div>
    </div>
    </br>
    <div class="row, paddingtop">

        <h2 ng-click="">Enter a gamertag to view a profile</h2>
        <i class="icon-search"></i>

        <form name="gamerTagForm" class="form-horizontal form-inline" ng-submit="addProfile(gamertag)" role="form">

            <input type="text" placeholder="Enter a Gamertag" ng-model="gamertag" required class="form-control">

        </form>

        <!-- Navigation Buttons -->
        <div class="paddingtop">
            <div class="col-md-2">
                <ul  class="nav nav-pills nav-stacked" id="tabs">
                    <li ng-repeat="tab in getTabs()">
                        <a data-target="#{{tab.gamertag}}" data-toggle="tab">
                            {{tab.gamertag}}
                        </a>
                    </li>

                    <!--
                    <li ng-repeat="tab in getTabs()" active="tab.active" disabled="tab.disabled" class="paddingtop">

                        <a href="#{{tab.gamertag}}" ng-click="#{{tab.gamertag}}" data-toggle="tab">
                            <i ng-class="{'glyphicon glyphicon-transfer': tab.pulling}"></i>
                            {{tab.gamertag}}
                        </a>

                        <a ng-click="removeTab($index)" href=''>
                            <i class="glyphicon glyphicon-remove-circle"></i>
                        </a>
                    </li>
                    -->
                </ul>
            </div>

            <!-- Tab content -->
            <div>
                <div class="col-md-10" >
                    <div class="tab-content">
                        <div ng-repeat="tab in getTabs()" id="{{tab.gamertag}}" class="tab-pane">
                            <profile-view profile="tab.profile" ng-hide="tab.pulling"></profile-view>
                        </div>
                    </div>
                    <!--
                    <div  ng-repeat="tab in getTabs()" active="tab.active" disabled="tab.disabled" class="tab-content" ng-hide="collapse = tab.pulling" ng_show="{{tab.gamertag}}">
                        <profile-view profile="tab.profile" ng-hide="tab.pulling"></profile-view>
                    </div>
                    -->
                </div>

                <!-- Loading bar
                <div ng-repeat="tab in getTabs()" class="loadingBarContainer" ng-hide="collapse = !tab.pulling">
                    <div class="progressPadding" >
                        <div class="centreProgress" ng-show="tab.pulling" >
                            <progressbar class="progress progress-striped active" role="progressbar" max="150" value="150" type="info">
                                <i>Loading the profile of {{tab.gamertag}}</i>
                            </progressbar>
                        </div>
                    </div>
                </div>
                 -->
                <!-- Content-->
            </div>
        </div>

    </div>
</div> <!-- /container -->