<div class="container">
	<h2 ng-click="">Enter a gamertag to see their latest game</h2>
	<i class="icon-search"></i>
	<form name="gamerTagForm" class="form-horizontal form-inline" ng-submit="addProfile(name)" role="form">
		
		<input type="text" placeholder="Enter a Gamertag" ng-model="name" required class="form-control">	
		
	</form>	
	
	<br/>
	<tabset justified="true">
		<tab ng-repeat="tab in getTabs()" active="tab.active" disabled="tab.disabled">
			<tab-heading>
				<i ng-class="{'glyphicon glyphicon-transfer': tab.pulling}"></i>
				{{tab.name}}
			</tab-heading>
			<br/>
			{{tab.content}}
		</tab>
	</tabset>

	<br/>
</div>